<div class="container">

    <div class="row">

      <h1>ALL LISTINGS</h1>

      <div class="col-md-3">
        <form action="#" method="get">

          <div class="input-group">

            <!-- SEARCH BAR -->
            <input class="form-control" id="system-search" name="q" placeholder="Search all listings..." required>
            <span class="input-group-btn">
                          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                      </span>

          </div>

        </form>
      </div>



      <div class="col-md-4">
        <table class="table table-list-search">

          <thead>
            <tr>
              <th>
                <p>Listings:</p>
              </th>
            </tr>
          </thead>



          <tbody>


            <% @listings.each do |listing| %>

            <tr>
              <td>
                <div class="col-lg-12 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
                  <article class="aa-properties-item">

                    <!-- <a class="aa-properties-item-img popular featured_img">
                      <img src="house2.jpg" class="featured_img" alt="img">
                    </a> -->
                    <%= link_to listing_path(listing.listing) do %>
                      <%= image_tag(listing.picture_url, width: 314, height:200) if listing.picture.present? %>
                    <% end %>
                    <div class="aa-properties-item-content">

                      <!-- <div class="aa-properties-info">
                        <span class="icons"><image src="bed.png"><b> 4</b></span>
                        <span class="icons"><image src="bath.png"><b> 3</b></span>
                        <span class="icons pull-right"><b> 1200 sqft</b></span>
                      </div> -->

                      <div class="aa-properties-about">

                        <h3 class="propname"><%= link_to listing.name, listing_path(listing.listing) %></h3>


                        <p><%= listing.description %></p>

                        <div class="listing-id", style="display: none"><%= listing.listing.id %></div>
                        <div class="duration", style="display: none"><%= listing.listing.duration %></div>

                      </div>

                      <% if listing.listing.bids.exists? %>

                      <div class="aa-properties-detial">
                        <span>Reserve Price ($): <b class="bidlast"><%= number_with_delimiter(listing.reserve_price) %></b></span>
                        <br>
                        <span>Last Bid ($): <b class="bidlast"><%= number_with_delimiter(listing.listing.bids.last.bid_amount) %></b></span>
                        <span class="pull-right"><%= listing.listing.bids.length %> Bids</span>
                        <br>

                        <% if listing.listed == 1%>
                        <span>Ends: <b class= "<%= "bidtime" + listing.listing.id.to_s %>"><%= listing.listing.duration.in_time_zone("Singapore") %></b></span>

                        <% elsif listing.listed == 2 %>
                        <span>Ends :Pending Acceptance</span>

                        <% else listing.listed == 3 %>

                        <span>Ends :Bid Accepted</span>


                        <% end %>



                        <%= link_to 'Bid Now', listing_path(listing.listing), class: "btn btn-danger btn-md pull-right bidnow" %>

                      </div>

                      <% else %>

                  <div class="aa-properties-detial">

                    <span>Reserve Price ($): <b class="bidlast"><%= number_with_delimiter(listing.reserve_price) %></b></span>
                    <br>
                    <span>Last Bid ($): <b class="bidlast">No bids yet</b></span>
                    <span class="pull-right">0 Bids</span>
                    <br>
                    <% if listing.listed == 1%>
                    <span>Ends: <b class= "<%= "bidtime" + listing.listing.id.to_s %>"><%= listing.listing.duration.in_time_zone("Singapore") %></b></span>

                    <% elsif listing.listed == 2 %>
                    <span>Ends :Listing not successful</span>

                    <% else listing.listed == 3 %>

                    <span>Ends :Listing not successfuk</span>


                    <% end %>




                    <%= link_to 'Bid Now', listing_path(listing.listing), class: "btn btn-danger btn-md pull-right bidnow" %>
                  </div>

                      <% end %>

                    </div>

                  </article>
                </div>
              </td>
            </tr>

          <% end %>

          </tbody>

        </table>
      </div>



    </div>
  </div>
