<div class="container">

  <div class="row">

    <div class="heading heading-contact">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>All Listings</h2>
          <i class="fa fa-2x fa-angle-down"></i>
        </div>
      </div>
    </div>

    <div class="heading col-lg-12">
      <hr class="marginbot-50">
    </div>

    <div class="col-md-12">
      <form action="#" method="get">

        <div class="input-group">

          <!-- SEARCH BAR -->
          <input class="form-control" id="system-search" name="q" placeholder="Search all listings..." required>
          <span class="input-group-btn">
                          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                      </span>

        </div>

      </form>
    </div>

    <div class="col-md-12">
      <br>
      <table class="table table-list-search">


        <tbody>

          <% @listings.each do |listing| %>

            <tr>
              <td>
                <div class="col-md-12">
                  <div class="card">
                    <div class="container-fliud">
                      <div class="wrapper row">
                        <div class="preview col-md-6">

                          <div class="preview-pic tab-content">

                          <% if listing.picture.present? %>

                              <div class="tab-pane active" id="pic-1"><%= link_to listing_path(listing.listing) do %>
                                <%= image_tag(listing.picture_url, width: 300, height:250, class:'object-fit_cover') %>
                              </div>

                          <% end %>

                          <% else %>

                              <div class="tab-pane active" id="pic-1"><img src="http://larics.rasip.fer.hr/wp-content/uploads/2016/04/default-placeholder.png" alt="" width="300" height="250" class="object-fit_cover"/>
                              </div>

                            <% end %>

                          </div>

                        </div>

                        <div class="details col-md-6">
                          <h2 class="product-title"><%= link_to listing.name, listing_path(listing.listing) %></h2>
                          <p class="product-description"><%= listing.description %></p>

                          <% if listing.listing.bids.exists? %>

<% if listing.listed == 1%>

                          <h4 class="price">bid ends: <span><b class= "<%= "bidtime" + listing.listing.id.to_s %>"><%= listing.listing.duration.in_time_zone("Singapore") %></b></span></h4>

                          <% elsif listing.listed == 2 %>
                          <span>Ends :Pending Acceptance</span>

                          <% else listing.listed == 3 %>

                          <span>Ends :Bid Accepted</span>

                          <% end %>

                          <h3 class="price">last bid price: <span>$<%= number_with_delimiter(listing.listing.bids.last.bid_amount) %></span></h4>

                        <div class="rating">
                          <span class="review-no"><%= listing.listing.bids.length %> Bids</span>
                        </div>

                        <div class="action">
                          <%= link_to 'Bid Now', listing_path(listing.listing), class: "btn btn-danger btn-md pull-right bidnow" %>
                        </div>

                      <% else %>


<% if listing.listed == 1%>

                      <h4 class="price">bid ends: <span><b class= "<%= "bidtime" + listing.listing.id.to_s %>"><%= listing.listing.duration.in_time_zone("Singapore") %></b></span></h4>

                      <% elsif listing.listed == 2 %>
                      <span>Ends :Bidding not successful</span>

                      <% else listing.listed == 3 %>

                      <span>Ends :Bidding not successful</span>

                      <% end %>

                      <h3 class="price">last bid price: <span>No bids yet</span></h4>

                      <div class="rating">
                      <span class="review-no">0 Bids</span>
                      </div>

                      <div class="action">
                      <%= link_to 'Bid Now', listing_path(listing.listing), class: "btn btn-danger btn-lg pull-right bidnow" %>
                      </div>

                      <% end %>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </td>
              </tr>

          <% end %>

          <tr>
            <td>
            </td>
          </tr>

        </tbody>

      </table>
      </div>

      </div>
    </div>
