<div class="container bg-overlay">
    <div class="row">

      <!-- Modal -->
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">

              <%= link_to "", '/listings', :class => 'close text-danger fa fa-times fa-3x'%>

              <h2 class="modal-title" id="myModalLabel"> <b><%= @listing.property.name %></b></h2>
            </div>
            <div class="modal-body">

              <div class="col-md-12">
                  <%= image_tag(@listing.property.picture_url, width: 314, height:200) if @listing.property.picture.present? %>
              </div>

              <table class="pull-left col-md-8 ">
                <tbody>

                  <tr>
                    <td>
                      <br>
                    </td>
                  </tr>

                  <tr>
                    <td class="h4"><b>Property Type:</b></td>
                    <td class="h4"><%= @listing.property.prop_type %></td>
                  </tr>

                  <tr>
                    <td>
                      <br>
                    </td>
                  </tr>

                  <tr>
                    <td class="h4"><b>Address:</b></td>
                    <td class="h4"><%= @listing.property.address %></td>
                  </tr>

                  <tr>
                    <td>
                      <br>
                    </td>
                  </tr>

                  <tr>
                    <td class="h4"><b>Postal Code:</b></td>
                    <td class="h4"><%= @listing.property.postal_code %></td>
                  </tr>

                  <tr>
                    <td>
                      <br>
                    </td>
                  </tr>

                  <tr>
                    <td class="h4"><b>Tenure:</b></td>
                    <td class="h4"><%= @listing.property.tenure %></td>
                  </tr>

                  <tr>
                    <td>
                      <br>
                    </td>
                  </tr>

                  <tr>
                    <td class="h4"><b>Size (sqft):</b></td>
                    <td class="h4"><%= @listing.property.size %></td>
                  </tr>

                  <tr>
                    <td>
                      <br>
                    </td>
                  </tr>

                  <tr>
                    <td class="h4"><b>Reserve Price:</b></td>
                    <td class="h4">$<%= number_with_delimiter(@listing.property.reserve_price) %></td>
                  </tr>

                  <tr>
                    <td>
                      <br>
                    </td>
                  </tr>

                </tbody>

              </table>

              <div class="clearfix"></div>

              <h4><b>Description:</b></h4>
              <p class=""><%= @listing.property.description %></p>

              <div id="bid-message">
              </div>

              <div class="listing-id", style="display: none"><%= @listing.id %></div>
              <div id="duration", style="display: none"><%= @listing.duration.to_f %></div>
            </div>

            <div class="modal-footer">

              <div class="text-left col-md-3">
                Bid's Endding In: <br/>
                <span class="h3 text-muted">
                  <div class="bidtime">
                    <div class="<%= "bidtime" + @listing.id.to_s %>">
                    </div>
                  </div>
               </span>
              </div>

              <% if @listing.bids.exists? %>

              <div class="text-left col-md-2">
                Last Bid: <br/>
                <span class="h3 text-muted"><b class="bidlast">
                  <div id= "bid-amount">
                    <%= number_with_delimiter(@last_bid.bid_amount) %></b></span>
                  </div>
              </div>

              <div class="text-left col-md-2">
                By User: <br/>
                <span class="h3 text-muted"><b class="bidlast">
                  <div id = "bidder-username">
                    <%= @last_bid.bidder.username %></b>
                  </div>
                </span>
              </div>

      <% else %>

              <div class="text-left col-md-2">
                Last Bid: <br/>
                <span class="h3 text-muted"><b class="bidlast">
                  <div id= "bid-amount">
                    No bids yet</b></span>
                  </div>
              </div>

              <div class="text-left col-md-2">
                By User: <br/>
                <span class="h3 text-muted"><b class="bidlast">
                  <div id = "bidder-username">
                    </b>
                  </div>
                </span>
              </div>

          <% end %>
            <% unless current_user.id == @listing.property.seller_id %>
              <%= form_tag listing_path + '/bids', method: :post, remote: true, id: 'bid-form' do %>
              <div class="text-left col-md-2">
                  <%= label_tag "Bid Amount:"%><br/>
                    <div class="input-group bid-input<%=@listing.id %>">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon"><b>$</b></span>
                      </button>
                      </span>
                      <%= text_field_tag :bid_amount %>
                    </div>
                </div>

              <div class="col-md-3">
                  <span class="glypicon glyphicon glyphicon-ice-lolly"></span>
                  <%= submit_tag "Submit Bid", class: "btn btn-success btn-lg submit-button"+@listing.id.to_s %>
              </div>
                  <!-- invisible form to change listed status from 1 (listed) to 2 (pending acceptance) -->
              <% end %>
              <% end %>

              <%= form_tag edit_property_path(@listing.property), method: :post, remote: true, id: 'listed-status-form' + @listing.id.to_s do %>
              <%= hidden_field_tag :listed, 2 %>
              <%= submit_tag "", :style => "display: none;"%>
              <% end %>

            </div>
          </div>
        </div>

      <!-- fim Modal-->






  </div>
</div>
