<div class="container">
  <div class="row">

    <h1>MY BID HISTORY - LISTINGS WHICH I HAVE BIDDED FOR</h1>

    <div class="col-md-3">
      <form action="#" method="get">
        <div class="input-group">
          <!-- SEARCH BAR -->
          <input class="form-control" id="system-search" name="q" placeholder="Search my bids..." required>
          <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-md-9">
      <table class="table table-list-search">
        <thead>
          <tr>
            <th>Title</th>
            <th>Picture</th>
            <th>Property Type</th>
            <th>Address</th>
            <th>Reserve Price</th>
            <th>Last Bid Price</th>
            <th>My Bid</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          <!-- <tr>
            <td><a href="#">Sim Tower</a></td>
            <td>
              <a href="#">
                <img src="http://assets.cromly.s3.amazonaws.com/stories/lime%20house/fish%20house/GUZ-SENTOSA-002.jpg" width="120" alt="">
              </a>
            </td>
            <td>Condo</td>
            <td>11 Orchard Street</td>
            <td>$1,200,000</td>
            <td>$1,102,343</td>
            <td>$1,200,000</td>
            <td>
              <div class="pull-left">
                <form action="demo_form.asp">
                  <button type="button" class="btn btn-success btn-md">
                  <span class="glypicon glyphicon glyphicon-ice-lolly"></span>
                  Submit new bid
                  </button>
                </form>
              </div>
            </td>
          </tr> -->

          <% if @current_user_bids.exists? %>

          <% @unique_bidder_listing.each do |unique_listing| %>
              <tr>
                <td> <%= unique_listing.listing.property.name %> </td>
                <td> <%= unique_listing.listing.property.picture %> </td>
                <td> <%= unique_listing.listing.property.prop_type %> </td>
                <td> <%= unique_listing.listing.property.address %> </td>
                <td>$<%= number_with_delimiter(unique_listing.listing.property.reserve_price) %> </td>
                <td>$<%= number_with_delimiter(unique_listing.listing.bids.last.bid_amount) %> </td>
                <td>$<%= number_with_delimiter(@current_user_bids.where(["listing_id = ?", unique_listing.listing_id]).last.bid_amount) %> </td>
                <td>

                  <% if unique_listing.listing.property.listed == 3 %>
                      <span class="btn btn-success btn-md">Bid Accepted By Seller</span>

                  <% else %>
                      <div class="pull-left">
                        <form method="GET" action="/listings/<%= unique_listing.listing_id %>">
                          <!-- <button type="button" class="btn btn-success btn-md"> -->
                          <input type="submit" value="Submit New Bid" class="btn btn-success btn-md">
                          <!-- <span class="glypicon glyphicon glyphicon-ice-lolly"></span> -->
                          <!-- </button> -->
                        </form>
                      </div>
                  <% end %>

                </td>

              </tr>
          <% end %>

          <% else %>
              <tr>
              <td>No bids found</td>
              </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
