<h1>Property index page</h1>
<h1><%= current_user.id %></h1>


<ul>
  <% @properties.each do |property| %>
    <li><%= property.name  %></li>
    <li><%= property.prop_type  %></li>
    <li><%= property.address  %></li>
    <li>seller id is<%= property.seller_id  %></li>
    <%= image_tag(property.picture_url, width: 600) if property.picture.present? %>

  <% end %>
</ul>
