

<%= form_for(property) do |f| %>

  <% if property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

        <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <p>
    <%= f.label :'Property Name' %><br>
    <%= f.text_field :name %><br>
  </p>

  <p>
    <%= f.label :'Property Type' %><br>
    <%= f.select :prop_type, ['Landed', 'Condominium']%>
  </p>

  <p>
  <%= f.label :address %><br>
  <%= f.text_field :address %><br>
  </p>

  <p>
  <%= f.label :postal_code %><br>
  <%= f.text_field :postal_code %><br>
  </p>

  <p>
    <%= f.label :tenure %><br>
    <%= f.select :tenure, ['Freehold', '999', '99']%>
  </p>

  <p>
  <%= f.label :size %><br>
  <%= f.text_field :size %><br>
  </p>

  <p>
    <%= f.label :'Reserve Price' %><br>
    <%= f.text_field :reserve_price %>
  </p>

  <p>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  </p>

<p>
  <a href="#">
    <%= image_tag(property.picture_url, width: 120, height:100) if property.picture.present? %>
  </a>
</p>

<p>
  <%= f.label :'Property Photographs' %><br>
  <%= f.file_field :picture %>
</p>


<%= f.hidden_field :seller_id, value: current_user.id %>
<%= f.hidden_field :listed, value: 0 %>

  <div class="actions">
    <%= f.submit "Update Property" %>
  </div>
  <br>
<% end %>
