<h1>Property Creation Page</h1>

<!-- form for -->
<%= form_for @property do |f| %>

<p>
<%= f.label :'Property Name' %><br>
<%= f.text_field :name %><br>
</p>

<p>
  <%= f.label :'Property Type' %><br>
  <%= f.select :prop_type, ['Landed', 'Condominium']%>
</p>

<p>
<%= f.label :address %><br>
<%= f.text_field :address %><br>
</p>

<p>
<%= f.label :postal_code %><br>
<%= f.text_field :postal_code %><br>
</p>

<p>
  <%= f.label :tenure %><br>
  <%= f.select :tenure, ['Freehold', '999', '99']%>
</p>

<p>
<%= f.label :size %><br>
<%= f.text_field :size %><br>
</p>

<p>
  <%= f.label :'Reserve Price' %><br>
  <%= f.text_field :reserve_price %>
</p>

<p>
<%= f.label :description %><br>
<%= f.text_area :description %><br>
</p>

<p>
  <%= f.label :'Property Photographs' %><br>
  <%= f.file_field :prop_photo %>
</p>

<p>
<%= f.label :'seller id' %><br>
<%= current_user.id %><br>
</p>


<p>
  <%= f.submit "Submit" %>
</p>
<% end %>

<!-- create_table "properties", force: :cascade do |t|
  t.string   "name"
  t.string   "prop_type"
  t.string   "address"
  t.integer  "postal_code"
  t.integer  "reserve_price"
  t.string   "tenure"
  t.integer  "size"
  t.text     "description"
  t.string   "picture"
  t.integer  "seller_id"
  t.datetime "created_at",    null: false
  t.datetime "updated_at",    null: false
end -->
