<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="bigtitle">
    <h1>Hey there!</h1>
    <p>A new property is just a few bids away...</p>
    <p><%= link_to "View All Listings", 'listings', :class => 'btn btn-danger btn-lg'%></p>
  </div>
</div>

<!-- 4 FEATURED LISTINGS -->
  <section class="container tm-home-section-1" id="more">

      <h1 class="latesttransaction">Our Latest Auction</h1>

    <div class="row">

<% @listings.each do |listing| %>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <article class="aa-properties-item">

          <%= link_to listing.picture, listing_path(listing) %>
          <a class="aa-properties-item-img popular featured_img" alt="property image" width='314' height='200'>
          <!-- <%= listing.picture %> -->
          </a>

          <div class="aa-properties-item-content">
            <div class="aa-properties-info">
              <span class="icons"><img src="../assets/icons/bed" class="featured_img" alt="img"><b> 4</b></span>
              <span class="icons"><img src="../assets/icons/bath" class="featured_img" alt="img"><b> 3</b></span>
              <span class="icons pull-right"><b><%= listing.size %> sqft</b></span>
            </div>

            <div class="aa-properties-about">
              <h3 class="propname"><%= link_to listing.name, listing_path(listing) %></h3>
              <p><%= listing.description %></p>
            </div>

            <div class="aa-properties-detial">
              <span>Last Bid: <b class="bidlast">$1450000</b></span>
              <span class="pull-right">7 Bids</span>
              <br>
              <span>Ends: <b class="bidtime">07:54:03</b></span>
              <button type="button" class="btn btn-danger btn-md pull-right">
              <span class="glypicon glyphicon glyphicon-ice-lolly"></span>
              Bid
              </button>
            </div>

          </div>
        </article>
      </div>

      <% end %>

      </div>



    </div>
  </section>
