<div class="container">
    <h1>Edit <%= resource_name.to_s.humanize %></h1>
    	<hr>

<div class="row">

  <div class="col-md-9 personal-info">



    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>





  <form class="form-horizontal" role="form">


    <div class="form-group">
    <%= f.label :email, class: "col-lg-3 control-label"%>
    <div class="col-md-8">
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
    <br />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <br />
  <% end %>
  </div>


    <div class="form-group">
    <%= f.label :password, class: "col-lg-3 control-label"%>

    <div class="col-md-8">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Leave it blank if you do not wish to change your password" %>
    <% if @minimum_password_length %>
      <br />

    <% end %>
  </div>
  </div>

  <div class="form-group">
  <%= f.label :password_confirmation, class: "col-lg-3 control-label"%>
  <div class="col-md-8">
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "6 characters minimum" %>
  <br />
</div>
</div>

<div class="form-group">
<%= f.label :current_password, class: "col-lg-3 control-label"%>
<div class="col-md-8">
<%= f.password_field :current_password, autocomplete: "off" , class: "form-control",placeholder: "Leave it blank if you do not wish to change your password" %>
<br />
</div>
</div>


<div class="form-group">
  <label class="col-md-3 control-label"></label>
  <div class="col-md-8">
    <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <span></span>
    <%= link_to "Cancel", :back, class: "btn btn-default" %>
  </div>

<% end %>
</div>

</form>
</div>
</div>
</div>



<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->


      <!-- edit form column -->
      <div class="col-md-9 personal-info">

<h3>Personal info</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">User name</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Current password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
